.animation {
  animation-name: slide;
  animation-duration: 30s;
  animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-direction: normal;
}

.reverse {
  animation-direction: reverse;
}

@keyframes slide {
  0% {
    transform: translateX(0%)
  }
  100% {
    transform: translateX(-50%);
  }
}